.about .content ul li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
}
.about .content  li:first-child {
    margin-top: 35px;
}
.about .content h3 {
    font-size: 26px;
    font-weight: 600;
}

.about .content ul i {
   font-size: 24px;
   padding: 20px;
   box-shadow: 0px 6px 15px rgb(16 110 234 / 12%);
   margin-right: 15px;
   border-radius: 50%;
   display: inline-flex;
   color: var(--theme-secondary-color);
   background: #fff;
}

.about .content ul h5 {
    font-size: 18px;
    color: #555555;
}

.about .content p {
    font-size: 15px;
}
.about .content p:last-child{
    margin-bottom: 0;
}




